--extra-index-url https://download.pytorch.org/whl/cu118
accelerate==0.25.0
aiohttp==3.9.1
aiosignal==1.3.1
annotated-types==0.6.0
anthropic==0.28.0
anyio==4.4.0
async-timeout==4.0.3
attrs==23.1.0
beartype==0.16.4
click==8.1.7
contourpy==1.2.0
cycler==0.12.1
datasets==2.14.7
deepspeed==0.12.6
dill==0.3.7
distro==1.9.0
dnspython==2.6.1
einops==0.7.0
email_validator==2.1.1
exceptiongroup==1.2.1
fastapi==0.111.0
fastapi-cli==0.0.4
fonttools==4.47.2
frozenlist==1.4.1
fschat==0.2.36
fsspec==2023.10.0
h11==0.14.0
hjson==3.1.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.17
importlib-resources==6.1.1
jiter==0.4.1
kiwisolver==1.4.5
markdown-it-py==3.0.0
markdown2==2.4.13
matplotlib==3.8.2
mdurl==0.1.2
mkl-service==2.4.0
multidict==6.0.4
multiprocess==0.70.15
nh3==0.2.17
ninja==1.11.1.1
openai==0.28.0
orjson==3.10.3
packaging==23.2
pandas==2.1.4
prompt_toolkit==3.0.45
protobuf==5.27.0
psutil==5.9.7
py-cpuinfo==9.0.0
pyarrow==14.0.2
pyarrow-hotfix==0.6
pydantic==2.5.3
pydantic_core==2.14.6
Pygments==2.18.0
pynvml==11.5.0
pyparsing==3.1.1
python-dateutil==2.8.2
python-dotenv==1.0.1
python-multipart==0.0.9
pytz==2023.3.post1
regex==2023.12.25
rich==13.7.1
rotary-embedding-torch==0.5.3
safetensors==0.4.1
sentencepiece==0.2.0
shellingham==1.5.4
shortuuid==1.0.13
six==1.16.0
sniffio==1.3.1
starlette==0.37.2
svgwrite==1.4.3
tiktoken==0.7.0
tokenizer==3.4.3
tokenizers==0.14.1
torch==2.1.1
torchaudio==2.1.1
torchvision==0.16.1
tqdm==4.66.1
transformers==4.34.1
triton==2.1.0
typer==0.12.3
typing_extensions==4.12.1
tzdata==2023.3
ujson==5.10.0
uvicorn==0.30.1
uvloop==0.19.0
watchfiles==0.22.0
wavedrom==2.0.3.post3
wcwidth==0.2.13
websockets==12.0
xxhash==3.4.1
yarl==1.9.4
zipp==3.17.0
evaluate==0.4.2
scikit-learn==1.5.0
#flash-attn==2.5.9.post1
peft==0.7.1
